<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            background:linear-gradient(45deg,rgb(40, 40, 82),gray,rgb(32, 32, 83));
            background-repeat: no-repeat;
            color: rgb(213, 213, 221);
            font-weight: 700;
        }
    </style>
</head>
<body>
    <div id="notification">FILE ADDED</div>
    <script>
        
    </script>
</body>
</html>